.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white; /* Or any color that matches your design */
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  font-size: 16px;
}