#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */

table {
  width: 100%;
  border-collapse: collapse; /* This ensures borders are nice and tight */
}

th, td {
  border: 1px solid rgb(0, 0, 0); /* Add border to each cell */
  padding: 8px; /* Add some padding for text inside cells */
  text-align: left; /* Align text to the left */
}

thead {
  background-color: #d7e0f5; /* Light grey background for the header */
}

.main-content {
  min-height: 90vh; /* 90% of the viewport height */
  overflow: auto;
}


/* Add this to your App.css */

.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 80vh; /* Adjust as needed */
  margin: 0;
  padding: 1rem;
  overflow: hidden; /* Adjust if you want scrollbars */
}

