@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 50px;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  box-sizing: border-box; /* Add this line */
  font-size: 14px;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #000000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box; /* Add this line */
}
.searchTerm:focus{
  color: #000000;
  font-size: 14px;
}



/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  position: relative;
  margin: 20px auto 0;
  
}

.countryBox {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  z-index: 1;
}

.countryBox.visaNotRequired {
  background-color: #f0fff0; /* Light green background */
}